<webcontent>
<menu>
<menuItem>
<text>app</text>
<menuItem url="app-admin.html">
<text>app-admin</text>
<prg>
<prgname>blockhosts</prgname>
<lastversion>2.5.1</lastversion>
<description>Blocks abusive IP hosts which probe your services (such as sshd, proftpd)</description>
<description_fr>Blocks abusive IP hosts which probe your services (such as sshd, proftpd)</description_fr>
<homepage>http://www.aczoom.com/cms/blockhosts/</homepage>
</prg>
</menuItem>
<menuItem url="app-crypt.html">
<text>app-crypt</text>
<prg>
<prgname>MD5-Brute-Force-Tool</prgname>
<lastversion>1.1</lastversion>
<description>A program written to test the security of md5'd passwords by attempting to brutefoce them.</description>
<description_fr>A program written to test the security of md5'd passwords by attempting to brutefoce them.</description_fr>
<homepage>http://www.davehope.co.uk/</homepage>
</prg>
<prg>
<prgname>fcrackzip</prgname>
<lastversion>1.0</lastversion>
<description>fcrackzip is a zip password cracker</description>
<description_fr>fcrackzip is a zip password cracker</description_fr>
<homepage>http://www.goof.com/pcg/marc/fcrackzip.html</homepage>
</prg>
<prg>
<prgname>weplab</prgname>
<lastversion>0.1.5</lastversion>
<description>A tool to analyze the Wired Equivalent Protocol (WEP) encryption security on wireless networks.</description>
<description_fr>A tool to analyze the Wired Equivalent Protocol (WEP) encryption security on wireless networks.</description_fr>
<homepage>http://weplab.sourceforge.net/</homepage>
</prg>
</menuItem>
<menuItem url="app-editors.html">
<text>app-editors</text>
<prg>
<prgname>vile</prgname>
<lastversion>9.7</lastversion>
<description>VI Like Emacs -- yet another full-featured vi clone</description>
<description_fr>VI Like Emacs -- yet another full-featured vi clone</description_fr>
<homepage>http://invisible-island.net/vile/</homepage>
</prg>
</menuItem>
<menuItem url="app-forensics.html">
<text>app-forensics</text>
<prg>
<prgname>afflib</prgname>
<lastversion>3.6.2</lastversion>
<description>Library that implements the AFF image standard</description>
<description_fr>Library that implements the AFF image standard</description_fr>
<homepage>http://www.afflib.org/</homepage>
</prg>
<prg>
<prgname>chkrootkit</prgname>
<lastversion>0.49</lastversion>
<description>a tool to locally check for signs of a rootkit</description>
<description_fr>a tool to locally check for signs of a rootkit</description_fr>
<homepage>http://www.chkrootkit.org/</homepage>
<patch><filepatch>chkrootkit-0.49-gentoo.diff</filepatch></patch>
<patch><filepatch>chkrootkit-0.49-chkutmp.c-some-overruns-fixes.patch</filepatch></patch>
<patch><filepatch>chkrootkit.cron</filepatch></patch>
</prg>
<prg>
<prgname>libewf</prgname>
<lastversion>20100805</lastversion>
<description>Implementation of the EWF (SMART and EnCase) image format</description>
<description_fr>Implementation of the EWF (SMART and EnCase) image format</description_fr>
<homepage>http://libewf.sourceforge.net</homepage>
</prg>
</menuItem>
<menuItem url="app-misc.html">
<text>app-misc</text>
<prg>
<prgname>domogik</prgname>
<lastversion>9999</lastversion>
<description>A free home automation solution</description>
<description_fr>A free home automation solution</description_fr>
<homepage>http://www/domogik.org/</homepage>
<patch><filepatch>domogik.init</filepatch></patch>
</prg>
<prg>
<prgname>domoweb</prgname>
<lastversion>9999</lastversion>
<description>A free home automation solution. Web interface of Domogik.</description>
<description_fr>A free home automation solution. Web interface of Domogik.</description_fr>
<homepage>http://www/domogik.org/</homepage>
<patch><filepatch>domoweb.init</filepatch></patch>
</prg>
<prg>
<prgname>gcstar</prgname>
<lastversion>1.5.0</lastversion>
<description>Collections management.</description>
<description_fr>Collections management.</description_fr>
<homepage>http://www.gcstar.org/</homepage>
</prg>
<prg>
<prgname>gtypist</prgname>
<lastversion>2.8.3</lastversion>
<description>Universal typing tutor</description>
<description_fr>Universal typing tutor</description_fr>
<homepage>http://www.gnu.org/software/gtypist/</homepage>
<patch><filepatch>${SITEFILE}</filepatch></patch>
</prg>
</menuItem>
<menuItem url="app-mobilephone.html">
<text>app-mobilephone</text>
<prg>
<prgname>gnokii</prgname>
<lastversion>0.6.29</lastversion>
<description>user space driver and tools for use with mobile phones</description>
<description_fr>user space driver and tools for use with mobile phones</description_fr>
<homepage>http://www.gnokii.org/</homepage>
<patch><filepatch>gnokii-0.6.29-icon.patch</filepatch></patch>
<patch><filepatch>gnokii-0.6.29-translations.patch</filepatch></patch>
</prg>
</menuItem>
<menuItem url="app-portage.html">
<text>app-portage</text>
<prg>
<prgname>adelie</prgname>
<lastversion>20060430</lastversion>
<description>Adelie is a fast replacement for equery</description>
<description_fr>Adelie is a fast replacement for equery</description_fr>
<homepage>http://home.exetel.com.au/tjaden/adelie/</homepage>
</prg>
<prg>
<prgname>fquery</prgname>
<lastversion>0.2</lastversion>
<description>A fast replacement for equery</description>
<description_fr>A fast replacement for equery</description_fr>
<homepage>http://home.exetel.com.au/tjaden/fquery/</homepage>
</prg>
<prg>
<prgname>glcu</prgname>
<lastversion>0.9.7.2</lastversion>
<description>gentoo linux cron update. Full featured semi-automatic updates for your gentoo box.</description>
<description_fr>gentoo linux cron update. Full featured semi-automatic updates for your gentoo box.</description_fr>
<homepage>http://glcu.sourceforge.net/</homepage>
</prg>
<prg>
<prgname>zugaina-sync</prgname>
<lastversion>0.3</lastversion>
<description>Script to sync with Zugaina portage</description>
<description_fr>Script pour se synchroniser avec l'arbre de portage de Zugaina</description_fr>
<homepage>http://gentoo.zugaina.org/</homepage>
</prg>
</menuItem>
</menuItem>
<menuItem>
<text>dev</text>
<menuItem url="dev-cpp.html">
<text>dev-cpp</text>
<prg>
<prgname>cairomm</prgname>
<lastversion>1.1.10</lastversion>
<description>C++ wrapper for the cairo graphics library.</description>
<description_fr>C++ wrapper for the cairo graphics library.</description_fr>
<homepage>http://cairographics.org/cairomm</homepage>
</prg>
<prg>
<prgname>opensaml</prgname>
<lastversion>2.5.2</lastversion>
<description>Open Source Security Assertion Markup Language implementation</description>
<description_fr>Open Source Security Assertion Markup Language implementation</description_fr>
<homepage>http://www.opensaml.org/</homepage>
<patch><filepatch>opensaml_doc.diff</filepatch></patch>
</prg>
<prg>
<prgname>xmltooling-c</prgname>
<lastversion>1.5.2</lastversion>
<description>Internet2 lower-level library that provides a higher level interface to XML processing, particularly in light of signing and encryption.</description>
<description_fr>Internet2 lower-level library that provides a higher level interface to XML processing, particularly in light of signing and encryption.</description_fr>
<homepage>http://wiki.shibboleth.net/confluence/display/OpenSAML/XMLTooling-C</homepage>
</prg>
</menuItem>
<menuItem url="dev-dotnet.html">
<text>dev-dotnet</text>
<prg>
<prgname>evolution-sharp</prgname>
<lastversion>0.16.1</lastversion>
<description>Mono bindings for Evolution</description>
<description_fr>Mono bindings for Evolution</description_fr>
<homepage>http://www.gnome.org/projects/beagle</homepage>
</prg>
</menuItem>
<menuItem url="dev-embedded.html">
<text>dev-embedded</text>
<prg>
<prgname>u-boot-tools</prgname>
<lastversion>2009.06</lastversion>
<description>utilities for working with Das U-Boot</description>
<description_fr>utilities for working with Das U-Boot</description_fr>
<homepage>http://www.denx.de/wiki/U-Boot/WebHome</homepage>
</prg>
</menuItem>
<menuItem url="dev-games.html">
<text>dev-games</text>
<prg>
<prgname>flatzebra</prgname>
<lastversion>0.1.5</lastversion>
<description>A generic game engine for 2D double-buffering animation</description>
<description_fr>A generic game engine for 2D double-buffering animation</description_fr>
<homepage>http://perso.b2b2c.ca/sarrazip/dev</homepage>
</prg>
<prg>
<prgname>simgear</prgname>
<lastversion>3.0.0</lastversion>
<description>Development library for simulation games</description>
<description_fr>Development library for simulation games</description_fr>
<homepage>http://www.simgear.org/</homepage>
</prg>
</menuItem>
<menuItem url="dev-libs.html">
<text>dev-libs</text>
<prg>
<prgname>boost-coroutine</prgname>
<lastversion>2009.12.01-r2</lastversion>
<description>The Boost.Coroutine library contains a family of class templates that wrap function objects in coroutines.</description>
<description_fr>The Boost.Coroutine library contains a family of class templates that wrap function objects in coroutines.</description_fr>
<homepage>http://www.crystalclearsoftware.com/soc/coroutine/</homepage>
<patch><filepatch>boost-coroutine-linden.patch</filepatch></patch>
</prg>
<prg>
<prgname>farsight-darcs</prgname>
<lastversion>0.1-r1</lastversion>
<description>FarSight is an audio/video conferencing framework specifically designed for Instant Messengers.</description>
<description_fr>FarSight is an audio/video conferencing framework specifically designed for Instant Messengers.</description_fr>
<homepage>http://farsight.sourceforge.net/</homepage>
</prg>
<prg>
<prgname>jrtplib</prgname>
<lastversion>3.5.1</lastversion>
<description>JRTPLIB is an object-oriented RTP library written in C++.</description>
<description_fr>JRTPLIB is an object-oriented RTP library written in C++.</description_fr>
<homepage>http://research.edm.luc.ac.be/jori/jrtplib/jrtplib.html</homepage>
</prg>
<prg>
<prgname>libndofdev</prgname>
<lastversion>0.3</lastversion>
<description>Replacement for the libndofdev library used by the Second Life client to handle joysticks and the 6DOF devices on Windows and Macs.</description>
<description_fr>Replacement for the libndofdev library used by the Second Life client to handle joysticks and the 6DOF devices on Windows and Macs.</description_fr>
<homepage>http://janoc.byethost5.com/archives/74</homepage>
</prg>
<prg>
<prgname>softhsm</prgname>
<lastversion>1.1.4</lastversion>
<description>A software PKCS#11 implementation</description>
<description_fr>A software PKCS#11 implementation</description_fr>
<homepage>http://www.opendnssec.org/</homepage>
</prg>
<prg>
<prgname>xapian</prgname>
<lastversion>0.9.6</lastversion>
<description>Xapian Probabilistic Information Retrieval library</description>
<description_fr>Xapian Probabilistic Information Retrieval library</description_fr>
<homepage>http://www.xapian.org/</homepage>
</prg>
<prg>
<prgname>xmlrpc-epi</prgname>
<lastversion>0.51-r2</lastversion>
<description>An implementation of the xmlrpc protocol in C</description>
<description_fr>An implementation of the xmlrpc protocol in C</description_fr>
<homepage>http://xmlrpc-epi.sourceforge.net/</homepage>
<patch><filepatch>xmlrpc-epi-0.51-64bit-fixes.patch</filepatch></patch>
<patch><filepatch>xmlrpc-epi-0.51-gcc4.patch</filepatch></patch>
<patch><filepatch>xmlrpc-epi-0.51-expat.patch</filepatch></patch>
<patch><filepatch>xmlrpc-epi-0.51-secondlife.patch</filepatch></patch>
</prg>
</menuItem>
<menuItem url="dev-lisp.html">
<text>dev-lisp</text>
</menuItem>
<menuItem url="dev-perl.html">
<text>dev-perl</text>
<prg>
<prgname>Apache-AuthenNIS</prgname>
<lastversion>0.13</lastversion>
<description>mod_perl NIS Authentication module</description>
<description_fr>mod_perl NIS Authentication module</description_fr>
<homepage>http://search.cpan.org/~speeves/Apache-AuthenNIS-${PV}/</homepage>
</prg>
<prg>
<prgname>Apache2-AuthenNIS</prgname>
<lastversion>0.15</lastversion>
<description>mod_perl NIS Authentication module</description>
<description_fr>mod_perl NIS Authentication module</description_fr>
<homepage>http://search.cpan.org/~speeves/Apache2-AuthenNIS-${PV}/</homepage>
</prg>
<prg>
<prgname>Crypt-OpenSSL-DSA</prgname>
<lastversion>0.13</lastversion>
<description>Crypt::OpenSSL::DSA module for perl</description>
<description_fr>Crypt::OpenSSL::DSA module for perl</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Data-Transformer</prgname>
<lastversion>0.04</lastversion>
<description>Traverse a data structure, altering it in place</description>
<description_fr>Traverse a data structure, altering it in place</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Encoding-FixLatin</prgname>
<lastversion>1.02</lastversion>
<description>takes mixed encoding input and produces UTF-8 output</description>
<description_fr>takes mixed encoding input and produces UTF-8 output</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>File-Stat</prgname>
<lastversion>0.01</lastversion>
<description>OOP Interface for Perl's built-in stat() functions</description>
<description_fr>OOP Interface for Perl's built-in stat() functions</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Net-DNS-SEC</prgname>
<lastversion>0.16</lastversion>
<description>Perl Net::DNS::SEC - Perl DNSSEC Resolver Module</description>
<description_fr>Perl Net::DNS::SEC - Perl DNSSEC Resolver Module</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Net-NIS</prgname>
<lastversion>0.43</lastversion>
<description>Interface to Sun's Network Information Service</description>
<description_fr>Interface to Sun's Network Information Service</description_fr>
<homepage>http://search.cpan.org/~esm/</homepage>
</prg>
<prg>
<prgname>RTSP-Lite</prgname>
<lastversion>0.1</lastversion>
<description>A lightweight RTSP implementation</description>
<description_fr>A lightweight RTSP implementation</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Rose-Object</prgname>
<lastversion>0.859</lastversion>
<description>A generic object base class. It provides very little functionality, but a healthy dose of convention.</description>
<description_fr>A generic object base class. It provides very little functionality, but a healthy dose of convention.</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Rose-ObjectX-CAF</prgname>
<lastversion>0.03</lastversion>
<description>Class::Accessor::Fast compatability for Rose::Object</description>
<description_fr>Class::Accessor::Fast compatability for Rose::Object</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Search-Query</prgname>
<lastversion>0.18</lastversion>
<description>polyglot query parsing</description>
<description_fr>polyglot query parsing</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Spreadsheet-ParseExcel-Simple</prgname>
<lastversion>1.04</lastversion>
<description>A simple interface to Excel data </description>
<description_fr>A simple interface to Excel data </description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Spreadsheet-XLSX</prgname>
<lastversion>0.13</lastversion>
<description>Perl extension for readinf MS Excel 2007 files </description>
<description_fr>Perl extension for readinf MS Excel 2007 files </description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>String-Escape</prgname>
<lastversion>2010.002</lastversion>
<description>Backslash escapes, quoted phrase, word elision, etc.</description>
<description_fr>Backslash escapes, quoted phrase, word elision, etc.</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Sys-Mmap</prgname>
<lastversion>0.14</lastversion>
<description>uses mmap to map in a file as a Perl variable</description>
<description_fr>uses mmap to map in a file as a Perl variable</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>Text-CSV-Separator</prgname>
<lastversion>0.20</lastversion>
<description>Determine the field separator of a CSV file</description>
<description_fr>Determine the field separator of a CSV file</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>WebService-Validator-HTML-W3C</prgname>
<lastversion>0.26</lastversion>
<description>Access the W3Cs online HTML validator</description>
<description_fr>Access the W3Cs online HTML validator</description_fr>
<homepage></homepage>
</prg>
<prg>
<prgname>XML-SAX-Base</prgname>
<lastversion>1.02</lastversion>
<description>Perl extension to generate and test check digits</description>
<description_fr>Perl extension to generate and test check digits</description_fr>
<homepage></homepage>
</prg>
</menuItem>
<menuItem url="dev-util.html">
<text>dev-util</text>
<prg>
<prgname>diffuse</prgname>
<lastversion>0.3.3</lastversion>
<description>Diffuse is a graphical tool for merging and comparing text files.</description>
<description_fr>Diffuse is a graphical tool for merging and comparing text files.</description_fr>
<homepage>http://diffuse.sourceforge.net/</homepage>
</prg>
<prg>
<prgname>gef</prgname>
<lastversion>0.12.3</lastversion>
<description>Java Graph Editing Framework</description>
<description_fr>Java Graph Editing Framework</description_fr>
<homepage>http://gef.tigris.org</homepage>
</prg>
<prg>
<prgname>google-perftools</prgname>
<lastversion>1.3</lastversion>
<description>Fast, mutli-threaded malloc() and nifty performance analysis tools</description>
<description_fr>Fast, mutli-threaded malloc() and nifty performance analysis tools</description_fr>
<homepage>http://code.google.com/p/google-perftools/</homepage>
<patch><filepatch>google-perftools-0.94-gentoo.patch</filepatch></patch>
</prg>
<prg>
<prgname>kbuild</prgname>
<lastversion>0.1.5</lastversion>
<description>A makefile framework for writing simple makefiles for complex tasks</description>
<description_fr>A makefile framework for writing simple makefiles for complex tasks</description_fr>
<homepage>http://svn.netlabs.org/kbuild/wiki</homepage>
</prg>
<prg>
<prgname>metro</prgname>
<lastversion>1.5.1</lastversion>
<description>release metatool used for creating Gentoo and Funtoo releases</description>
<description_fr>release metatool used for creating Gentoo and Funtoo releases</description_fr>
<homepage>http://www.github.com/funtoo/metro</homepage>
</prg>
</menuItem>
</menuItem>
<menuItem>
<text>eclass</text>
<menuItem url="eclass.html">
<text>eclass</text>
<prg>
<prgname>bazaar.eclass</prgname>
<description>BAZAAR eclass</description>
<description_fr>BAZAAR eclass</description_fr>
<homepage>http://bazaar.canonical.com/</homepage>
</prg>
<prg>
<prgname>mozconfig2.eclass</prgname>
<description></description>
<description_fr></description_fr>
<homepage></homepage>
</prg>
</menuItem>
</menuItem>
<menuItem>
<text>games</text>
<menuItem url="games-arcade.html">
<text>games-arcade</text>
<prg>
<prgname>edgar</prgname>
<lastversion>1.08</lastversion>
<description>You take on the role of Edgar, battling creatures and solving puzzles</description>
<description_fr>You take on the role of Edgar, battling creatures and solving puzzles</description_fr>
<homepage>http://www.parallelrealities.co.uk/p/legend-of-edgar.html</homepage>
</prg>
<prg>
<prgname>sdlroads</prgname>
<lastversion>0.1</lastversion>
<description>SDLRoads is a cross platform remake of the Bluemoon classic Skyroads.</description>
<description_fr>SDLRoads est un remake de Skyroads.</description_fr>
<homepage>http://sdlroads.sourceforge.net/</homepage>
</prg>
</menuItem>
<menuItem url="games-board.html">
<text>games-board</text>
<prg>
<prgname>quarry</prgname>
<lastversion>0.2.0</lastversion>
<description>A GUI for Go, Amazons and Othello. Allows to play against computer players or other humans.</description>
<description_fr>Une interface pour les jeux de Go, Amazons et Othello. Permet de jouer contre l'ordinateur avec le programme GNU Go</description_fr>
<homepage>http://home.gna.org/quarry/index.html</homepage>
</prg>
</menuItem>
<menuItem url="games-fps.html">
<text>games-fps</text>
<prg>
<prgname>bloodfrontier</prgname>
<lastversion>0.85_beta2</lastversion>
<description>free multiplayer/singleplayer first person shooter (use Cube Engine 2)</description>
<description_fr>free multiplayer/singleplayer first person shooter (use Cube Engine 2)</description_fr>
<homepage>http://bloodfrontier.com/</homepage>
<patch><filepatch>wrapper</filepatch></patch>
</prg>
<prg>
<prgname>cube</prgname>
<lastversion>20050829-r1</lastversion>
<description>Landscape-style engine that pretends to be an indoor first person shooter engine</description>
<description_fr>Landscape-style engine that pretends to be an indoor first person shooter engine</description_fr>
<homepage>http://wouter.fov120.com/cube/</homepage>
<patch><filepatch>20050829-gentoo-paths.patch</filepatch></patch>
</prg>
<prg>
<prgname>edm</prgname>
<lastversion>2007.04.08</lastversion>
<description>a fork of the Sauerbraten FPS engine which adds new gameplay and engine features.</description>
<description_fr>a fork of the Sauerbraten FPS engine which adds new gameplay and engine features.</description_fr>
<homepage>http://edm-fps.net/</homepage>
<patch><filepatch>wrapper</filepatch></patch>
</prg>
<prg>
<prgname>openquartz</prgname>
<lastversion>20040801</lastversion>
<description>Open Source PAK Files for Quake based games</description>
<description_fr>Open Source PAK Files for Quake based games</description_fr>
<homepage>http://openquartz.sourceforge.net/</homepage>
</prg>
<prg>
<prgname>redeclipse</prgname>
<lastversion>1.0</lastversion>
<description>free multiplayer/singleplayer first person shooter (use Cube Engine 2)</description>
<description_fr>free multiplayer/singleplayer first person shooter (use Cube Engine 2)</description_fr>
<homepage>http://www.redeclipse.net/</homepage>
<patch><filepatch>wrapper</filepatch></patch>
</prg>
</menuItem>
<menuItem url="games-misc.html">
<text>games-misc</text>
<prg>
<prgname>fortune-mod-bashfr</prgname>
<lastversion>20080407</lastversion>
<description>Fortune database of quotes from bashfr.org</description>
<description_fr>Fortune database of quotes from bashfr.org</description_fr>
<homepage>http://www.bashfr.org/</homepage>
</prg>
<prg>
<prgname>fortune-mod-french</prgname>
<lastversion>0.03</lastversion>
<description>set of fortunes in french</description>
<description_fr>set of fortunes in french</description_fr>
<homepage>http://www.fortunes-fr.org/ - http://www.le-gnu.net/</homepage>
</prg>
</menuItem>
<menuItem url="games-rpg.html">
<text>games-rpg</text>
<prg>
<prgname>planeshift-art</prgname>
<lastversion>0.4.00-r1</lastversion>
<description>Virtual fantasy world MMORPG</description>
<description_fr>Virtual fantasy world MMORPG</description_fr>
<homepage>http://www.planeshift.it/</homepage>
<patch><filepatch>PlaneShift</filepatch></patch>
</prg>
</menuItem>
<menuItem url="games-simulation.html">
<text>games-simulation</text>
<prg>
<prgname>flightgear</prgname>
<lastversion>3.0.0</lastversion>
<description>Open Source Flight Simulator</description>
<description_fr>Open Source Flight Simulator</description_fr>
<homepage>http://www.flightgear.org/</homepage>
</prg>
<prg>
<prgname>flightgear-data</prgname>
<lastversion>3.0.0</lastversion>
<description>FlightGear data files</description>
<description_fr>FlightGear data files</description_fr>
<homepage>http://www.flightgear.org/</homepage>
</prg>
<prg>
<prgname>opencity</prgname>
<lastversion>0.0.6.2</lastversion>
<description>OpenCity is a full 3D city simulator game project.</description>
<description_fr>OpenCity is a full 3D city simulator game project.</description_fr>
<homepage>http://www.opencity.info/</homepage>
</prg>
</menuItem>
<menuItem url="games-sports.html">
<text>games-sports</text>
<prg>
<prgname>etw</prgname>
<lastversion>3.2</lastversion>
<description>Arcade-style soccer game</description>
<description_fr>Arcade-style soccer game</description_fr>
<homepage>http://etw.sourceforge.net/</homepage>
</prg>
<prg>
<prgname>maniadrive-bin</prgname>
<lastversion>1.2</lastversion>
<description>Trackmania clone</description>
<description_fr>Trackmania clone</description_fr>
<homepage>http://maniadrive.raydium.org</homepage>
</prg>
</menuItem>
<menuItem url="games-strategy.html">
<text>games-strategy</text>
<prg>
<prgname>bos</prgname>
<lastversion>2.0</lastversion>
<description>Invasion - Battle of Survival is a real-time strategy game using the Stratagus game engine</description>
<description_fr>Invasion - Battle of Survival is a real-time strategy game using the Stratagus game engine</description_fr>
<homepage>http://bos.seul.org/</homepage>
</prg>
<prg>
<prgname>spring-Modification-NOTA</prgname>
<lastversion>1.56</lastversion>
<description>Spring - Modification - NOTA 1.56</description>
<description_fr>Spring - Modification - NOTA 1.56</description_fr>
<homepage>http://spring.jobjol.nl/show_file.php?id=1988</homepage>
</prg>
<prg>
<prgname>spring-ota-content</prgname>
<lastversion>1.0</lastversion>
<description>Files required to run certain Spring mods</description>
<description_fr>Files required to run certain Spring mods</description_fr>
<homepage>http://ipxserver.dyndns.org/games/spring/mods/xta/</homepage>
</prg>
<prg>
<prgname>wormux</prgname>
<lastversion>0.9.0</lastversion>
<description>A free Worms clone</description>
<description_fr>A free Worms clone</description_fr>
<homepage>http://www.wormux.org/</homepage>
</prg>
</menuItem>
<menuItem url="games-util.html">
<text>games-util</text>
<prg>
<prgname>atlas</prgname>
<lastversion>0.3.1</lastversion>
<description>Chart Program to use with Flightgear Flight Simulator</description>
<description_fr>Chart Program to use with Flightgear Flight Simulator</description_fr>
<homepage>http://atlas.sourceforge.net/</homepage>
</prg>
<prg>
<prgname>catcodec</prgname>
<lastversion>1.0.3</lastversion>
<description>Decode and encodes sample catalog for OpenTTD</description>
<description_fr>Decode and encodes sample catalog for OpenTTD</description_fr>
<homepage>http://www.openttd.org/</homepage>
</prg>
<prg>
<prgname>grfcodec</prgname>
<lastversion>5.1.3</lastversion>
<description>A suite of programs to modify openttd/Transport Tycoon Deluxe's GRF files</description>
<description_fr>A suite of programs to modify openttd/Transport Tycoon Deluxe's GRF files</description_fr>
<homepage>http://dev.openttdcoop.org/projects/grfcodec</homepage>
</prg>
<prg>
<prgname>nforenum</prgname>
<lastversion>4.0.0</lastversion>
<description>A tool checking NFO code for errors</description>
<description_fr>A tool checking NFO code for errors</description_fr>
<homepage>http://binaries.openttd.org/extra/nforenum/</homepage>
</prg>
<prg>
<prgname>openquartz-utils</prgname>
<lastversion>20040801</lastversion>
<description>Utils for PAK creation</description>
<description_fr>Utils for PAK creation</description_fr>
<homepage>http://openquartz.sourceforge.net/</homepage>
</prg>
</menuItem>
</menuItem>
<menuItem>
<text>mail</text>
<menuItem url="mail-client.html">
<text>mail-client</text>
<prg>
<prgname>squirrelmail</prgname>
<lastversion>1.4.20_rc2</lastversion>
<description>Webmail for nuts!</description>
<description_fr>Webmail for nuts!</description_fr>
<homepage>http://www.squirrelmail.org/</homepage>
<patch><filepatch>ldapuserdata-${LDAP_USERDATA_VER}-gentoo.patch</filepatch></patch>
<patch><filepatch>postinstall-en.txt</filepatch></patch>
</prg>
<prg>
<prgname>sylpheed-claws</prgname>
<lastversion>2.5.0</lastversion>
<description>Sylpheed-Claws is an email client (and news reader) based on GTK+</description>
<description_fr>Sylpheed-Claws is an email client (and news reader) based on GTK+</description_fr>
<homepage>http://claws.sylpheed.org</homepage>
</prg>
</menuItem>
</menuItem>
<menuItem>
<text>media</text>
<menuItem url="media-gfx.html">
<text>media-gfx</text>
<prg>
<prgname>gimpshop</prgname>
<lastversion>2.2.11</lastversion>
<description>GNU Image Manipulation Program with Adobe Photoshop like Interface</description>
<description_fr>GNU Image Manipulation Program with Adobe Photoshop like Interface</description_fr>
<homepage>http://plasticbugs.com/</homepage>
<patch><filepatch>gimpshop-2.2.11-libpng-1.2.10.patch</filepatch></patch>
<patch><filepatch>pygimp-logo.png</filepatch></patch>
</prg>
<prg>
<prgname>ldraw</prgname>
<lastversion>201003</lastversion>
<description>LDraw parts library</description>
<description_fr>LDraw parts library</description_fr>
<homepage>http://www.ldraw.org/</homepage>
</prg>
<prg>
<prgname>nvidia-cg-toolkit</prgname>
<lastversion>1.5.0023</lastversion>
<description>nvidia's c graphics compiler toolkit</description>
<description_fr>nvidia's c graphics compiler toolkit</description_fr>
<homepage>http://developer.nvidia.com/object/cg_toolkit.html</homepage>
<patch><filepatch>80cgc</filepatch></patch>
</prg>
<prg>
<prgname>refocus-it</prgname>
<lastversion>2.0.0</lastversion>
<description>Iterative refocus GIMP plug-in.</description>
<description_fr>Iterative refocus GIMP plug-in.</description_fr>
<homepage>http://refocus-it.sourceforge.net/</homepage>
</prg>
<prg>
<prgname>sweethome3d-bin</prgname>
<lastversion>2.5</lastversion>
<description>Sweet Home 3D is a free interior design application.</description>
<description_fr>Sweet Home 3D is a free interior design application.</description_fr>
<homepage>http://sweethome3d.sourceforge.net/</homepage>
</prg>
</menuItem>
<menuItem url="media-libs.html">
<text>media-libs</text>
<prg>
<prgname>cal3d</prgname>
<lastversion>0.12-r507</lastversion>
<description>Cal3D is a skeletal based character animation library</description>
<description_fr>Cal3D is a skeletal based character animation library</description_fr>
<homepage>http://home.gna.org/cal3d</homepage>
</prg>
<prg>
<prgname>libextractor</prgname>
<lastversion>0.6.0</lastversion>
<description>A simple library for keyword extraction</description>
<description_fr>A simple library for keyword extraction</description_fr>
<homepage>http://www.gnunet.org/libextractor/</homepage>
</prg>
<prg>
<prgname>mediastreamer</prgname>
<lastversion>2.6.0</lastversion>
<description>Mediastreaming library for telephony application</description>
<description_fr>Mediastreaming library for telephony application</description_fr>
<homepage>http://www.linphone.org/index.php/eng/code_review/mediastreamer2</homepage>
</prg>
</menuItem>
<menuItem url="media-sound.html">
<text>media-sound</text>
<prg>
<prgname>abcm2ps</prgname>
<lastversion>5.9.10</lastversion>
<description>A program to convert abc files to Postscript files</description>
<description_fr>A program to convert abc files to Postscript files</description_fr>
<homepage>http://moinejf.free.fr/</homepage>
</prg>
<prg>
<prgname>audio-convert</prgname>
<lastversion>0.3.1.1</lastversion>
<description>Convert wav, ogg, mp3, mpc, flac, ape, aac or wma files into wav, ogg, mp3, mpc, flac, ape or aac files</description>
<description_fr>Convert wav, ogg, mp3, mpc, flac, ape, aac or wma files into wav, ogg, mp3, mpc, flac, ape or aac files</description_fr>
<homepage>https://savannah.nongnu.org/projects/audio-convert</homepage>
</prg>
<prg>
<prgname>azrael</prgname>
<lastversion>0.3.5-r1</lastversion>
<description>A GTK XMMS2 client</description>
<description_fr>A GTK XMMS2 client</description_fr>
<homepage>https://sourceforge.net/projects/azrael/</homepage>
</prg>
<prg>
<prgname>cuecue</prgname>
<lastversion>0.2.2</lastversion>
<description>Cuecue is a suite to convert .cue + [.ogg|.flac|.wav|.mp3] to .cue + .bin.</description>
<description_fr>Cuecue is a suite to convert .cue + [.ogg|.flac|.wav|.mp3] to .cue + .bin.</description_fr>
<homepage>http://cuecue.berlios.de/</homepage>
</prg>
<prg>
<prgname>gxmms2</prgname>
<lastversion>0.6.4</lastversion>
<description>A GTK+ 2.6 based XMMS2 client</description>
<description_fr>A GTK+ 2.6 based XMMS2 client</description_fr>
<homepage>http://wejp.k.vu/projects/xmms2/</homepage>
</prg>
<prg>
<prgname>mpg123</prgname>
<lastversion>1.7.0</lastversion>
<description>a realtime MPEG 1.0/2.0/2.5 audio player for layers 1, 2 and 3.</description>
<description_fr>a realtime MPEG 1.0/2.0/2.5 audio player for layers 1, 2 and 3.</description_fr>
<homepage>http://www.mpg123.org</homepage>
</prg>
<prg>
<prgname>scmpc</prgname>
<lastversion>0.2.2</lastversion>
<description>A multithreaded MPD client for Audioscrobbler</description>
<description_fr>A multithreaded MPD client for Audioscrobbler</description_fr>
<homepage>http://scmpc.berlios.de</homepage>
</prg>
<prg>
<prgname>skale</prgname>
<lastversion>0.81</lastversion>
<description>Sk@le Tracker - FastTracker 2 clone</description>
<description_fr>Sk@le Tracker - FastTracker 2 clone</description_fr>
<homepage>http://www.skale.org/</homepage>
<patch><filepatch>skale.wrapper-0.80a</filepatch></patch>
<patch><filepatch>config-SkaleLinux.cfg-0.80a</filepatch></patch>
<patch><filepatch>.cfg</filepatch></patch>
</prg>
</menuItem>
<menuItem url="media-tv.html">
<text>media-tv</text>
<prg>
<prgname>linuxtv-dvb-apps</prgname>
<lastversion>9999</lastversion>
<description>small utils for DVB to scan, zap, view signal strength, ...</description>
<description_fr>small utils for DVB to scan, zap, view signal strength, ...</description_fr>
<homepage>http://www.linuxtv.org/</homepage>
</prg>
<prg>
<prgname>w_scan</prgname>
<lastversion>20130331</lastversion>
<description>Scan for DVB-C/DVB-T/DVB-S channels without prior knowledge of frequencies and modulations</description>
<description_fr>Scan for DVB-C/DVB-T/DVB-S channels without prior knowledge of frequencies and modulations</description_fr>
<homepage>http://wirbel.htpc-forum.de/w_scan/index2.html</homepage>
</prg>
</menuItem>
<menuItem url="media-video.html">
<text>media-video</text>
<prg>
<prgname>image2mpeg</prgname>
<lastversion>1.02</lastversion>
<description>convert digital photos (and any other images) into MPEG video streams with transitions between the images</description>
<description_fr>convert digital photos (and any other images) into MPEG video streams with transitions between the images</description_fr>
<homepage>http://www.gromeck.de/index.php?image2mpeg</homepage>
</prg>
<prg>
<prgname>lives</prgname>
<lastversion>1.4.9</lastversion>
<description>LiVES is a Video Editing System</description>
<description_fr>LiVES is a Video Editing System</description_fr>
<homepage>http://lives.sf.net</homepage>
</prg>
<prg>
<prgname>mandvd</prgname>
<lastversion>2.4</lastversion>
<description>This is a program to simply create DVD Video</description>
<description_fr>This is a program to simply create DVD Video</description_fr>
<homepage>http://www.kde-apps.org/content/show.php?content=38347</homepage>
</prg>
<prg>
<prgname>motion</prgname>
<lastversion>3.2.12</lastversion>
<description>Motion is a video motion detector with tracking-support for webcams.</description>
<description_fr>Motion is a video motion detector with tracking-support for webcams.</description_fr>
<homepage>http://www.lavrsen.dk/twiki/bin/view/Motion/WebHome</homepage>
<patch><filepatch>motion.init-r1</filepatch></patch>
<patch><filepatch>motion.confd</filepatch></patch>
</prg>
<prg>
<prgname>mplayer</prgname>
<lastversion>1.0_rc4_p20100107</lastversion>
<description>Media Player for Linux</description>
<description_fr>Media Player for Linux</description_fr>
<homepage>http://www.mplayerhq.hu/</homepage>
</prg>
<prg>
<prgname>nvidia-settings</prgname>
<lastversion>180.18</lastversion>
<description>NVIDIA Linux X11 Settings Utility</description>
<description_fr>NVIDIA Linux X11 Settings Utility</description_fr>
<homepage>http://www.nvidia.com/</homepage>
<patch><filepatch>iconnvidia-settings.png</filepatch></patch>
<patch><filepatch>iconnvidia-settings.desktop</filepatch></patch>
</prg>
</menuItem>
</menuItem>
<menuItem>
<text>net</text>
<menuItem url="net-analyzer.html">
<text>net-analyzer</text>
<prg>
<prgname>halberd</prgname>
<lastversion>0.2.4</lastversion>
<description>Halberd is a tool aimed at discovering real servers behind virtual IPs.</description>
<description_fr>Halberd is a tool aimed at discovering real servers behind virtual IPs.</description_fr>
<homepage>http://halberd.superadditive.com/</homepage>
</prg>
<prg>
<prgname>metasploit</prgname>
<lastversion>3.4.1</lastversion>
<description>Advanced open-source framework for developing, testing, and using vulnerability exploit code</description>
<description_fr>Advanced open-source framework for developing, testing, and using vulnerability exploit code</description_fr>
<homepage>http://www.metasploit.org/</homepage>
<patch><filepatch>msfweb${SLOT}.initd</filepatch></patch>
<patch><filepatch>msfweb${SLOT}.confd</filepatch></patch>
</prg>
<prg>
<prgname>nikto</prgname>
<lastversion>2.03</lastversion>
<description>Web Server vulnerability scanner.</description>
<description_fr>Web Server vulnerability scanner.</description_fr>
<homepage>http://www.cirt.net/code/nikto.shtml</homepage>
</prg>
<prg>
<prgname>ntop</prgname>
<lastversion>3.3.9</lastversion>
<description>tool that shows network usage like top</description>
<description_fr>tool that shows network usage like top</description_fr>
<homepage>http://www.ntop.org/ntop.html</homepage>
<patch><filepatch>ntop-3.3.9-gentoo.patch</filepatch></patch>
<patch><filepatch>ntop-initd</filepatch></patch>
<patch><filepatch>ntop-confd</filepatch></patch>
</prg>
<prg>
<prgname>onesixtyone</prgname>
<lastversion>0.3.2</lastversion>
<description>An efficient SNMP scanner</description>
<description_fr>An efficient SNMP scanner</description_fr>
<homepage>http://www.phreedom.org/solar/onesixtyone/</homepage>
</prg>
<prg>
<prgname>sing</prgname>
<lastversion>1.1</lastversion>
<description>SING stands for 'Send ICMP Nasty Garbage'. It is a tool that sends ICMP packets fully customized from command line</description>
<description_fr>SING stands for 'Send ICMP Nasty Garbage'. It is a tool that sends ICMP packets fully customized from command line</description_fr>
<homepage>http://sourceforge.net/projects/sing/</homepage>
</prg>
<prg>
<prgname>snort</prgname>
<lastversion>2.8.4</lastversion>
<description>Libpcap-based packet sniffer/logger/lightweight IDS</description>
<description_fr>Libpcap-based packet sniffer/logger/lightweight IDS</description_fr>
<homepage>http://www.snort.org/"
	ewarn "For more information on rules, visit ${HOMEPAGE}.</homepage>
<patch><filepatch>snort-2.6.1.2-libdir.patch</filepatch></patch>
<patch><filepatch>snort.rc8</filepatch></patch>
<patch><filepatch>snort.confd</filepatch></patch>
</prg>
<prg>
<prgname>tcpreplay</prgname>
<lastversion>3.4.5_beta2</lastversion>
<description>replay saved tcpdump or snoop files at arbitrary speeds</description>
<description_fr>replay saved tcpdump or snoop files at arbitrary speeds</description_fr>
<homepage>http://tcpreplay.synfin.net/</homepage>
</prg>
</menuItem>
<menuItem url="net-dns.html">
<text>net-dns</text>
<prg>
<prgname>bind</prgname>
<lastversion>9.9.0_rc4</lastversion>
<description>BIND - Berkeley Internet Name Domain - Name Server</description>
<description_fr>BIND - Berkeley Internet Name Domain - Name Server</description_fr>
<homepage>http://www.isc.org/software/bind</homepage>
<patch><filepatch>bind-9.8.1-sdlz_helper.patch</filepatch></patch>
<patch><filepatch>bind-dlzmysql5-reconnect.patch</filepatch></patch>
<patch><filepatch>bind-9.7.3-odbc-dlz-detect.patch</filepatch></patch>
<patch><filepatch>named.conf-r5</filepatch></patch>
<patch><filepatch>named.cache</filepatch></patch>
<patch><filepatch>127.zone-r1</filepatch></patch>
<patch><filepatch>localhost.zone-r3</filepatch></patch>
<patch><filepatch>named.init-r11</filepatch></patch>
<patch><filepatch>named.confd-r6</filepatch></patch>
<patch><filepatch>10bind.env</filepatch></patch>
</prg>
<prg>
<prgname>dnssec-tools</prgname>
<lastversion>1.7</lastversion>
<description></description>
<description_fr></description_fr>
<homepage>http://www.isc.org/software/bind</homepage>
</prg>
<prg>
<prgname>pdns</prgname>
<lastversion>3.3</lastversion>
<description>The PowerDNS Daemon</description>
<description_fr>The PowerDNS Daemon</description_fr>
<homepage>http://www.powerdns.com/</homepage>
<patch><filepatch>pdns</filepatch></patch>
<patch><filepatch>dnsdomain2.schema</filepatch></patch>
</prg>
</menuItem>
<menuItem url="net-firewall.html">
<text>net-firewall</text>
<prg>
<prgname>ip6wall</prgname>
<lastversion>1.0</lastversion>
<description>A bash firewall script for ip6tables.</description>
<description_fr>A bash firewall script for ip6tables.</description_fr>
<homepage>http://www.no-net.org/ip6wall/</homepage>
</prg>
</menuItem>
<menuItem url="net-im.html">
<text>net-im</text>
<prg>
<prgname>ejabberd</prgname>
<lastversion>2.1.4</lastversion>
<description>The Erlang Jabber Daemon</description>
<description_fr>The Erlang Jabber Daemon</description_fr>
<homepage>http://www.ejabberd.im/</homepage>
<patch><filepatch>2.1.1-mod_statsdx.patch</filepatch></patch>
<patch><filepatch>ejabberd-3.initd</filepatch></patch>
<patch><filepatch>ejabberd-3.confd</filepatch></patch>
</prg>
<prg>
<prgname>jit</prgname>
<lastversion>1.1.6-r4</lastversion>
<description>ICQ transport for wpjabber / jabberd</description>
<description_fr>ICQ transport pour wpjabber / jabberd</description_fr>
<homepage>http://jit.jabberstudio.org/</homepage>
<patch><filepatch>jit-1.1.6-ttn.patch</filepatch></patch>
